---
import Layout from "../layouts/Layout.astro";
import Blocklink from "../components/Blocklink.astro";
import Header from "../components/Header.astro";
import LoggedInLinks from "../components/LoggedInLinks.svelte";
---

<Layout title="Boda de Ali y Dani">
  <main>
    <Header />
    <div class="flex justify-center gap-4">
      <Blocklink href="/cuando">Cuando</Blocklink>
      <Blocklink href="/lugar">Donde</Blocklink>
      <Blocklink href="/asistencia">Vienes?</Blocklink>
    </div>
    <LoggedInLinks client:only />
  </main>
</Layout>
