---

---

<div class="flex justify-center absolute w-full z-0">
  <img src="/castle.svg" alt="castle" />
</div>
<style>
  div {
    bottom: var(--ground-height);
    max-height: 30%;
    border: none;
    aspect-ratio: 1/1;
  }
</style>
