---
import "../styles/global.css";
import Ground from "../components/Ground.astro";
import CommonHead from "./CommonHead.astro";
import Countdown from "../components/Countdown.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Boda de Alicia y danielo" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <CommonHead />
  </head>
  <body class="relative">
    <div class="text-white grid grid-cols-2 p-4" style="width: 100%;">
      <div class="text-start col-start-2">
        <Countdown fullWidth={false} />
      </div>
    </div>
    <slot />
    <Ground />
  </body>
</html>
